In [36]:
import numpy as np
import pandas as pd

In [37]:
movies = pd.read_csv('../../data/movies.csv')
ratings = pd.read_csv('../../data/ratings.csv')

In [38]:
movies.head()

,movieId,title,genres,imdb_id,overview,poster_path,runtime
0,862,Toy Story (1995),Animation|Comedy|Family,tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81
1,8844,Jumanji (1995),Adventure|Fantasy|Family,tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104
2,15602,Grumpier Old Men (1995),Romance|Comedy,tt0113228,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101
3,31357,Waiting to Exhale (1995),Comedy|Drama|Romance,tt0114885,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127
4,11862,Father of the Bride Part II (1995),Comedy,tt0113041,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg,106

In [39]:
movies.shape

(42132, 7)

In [40]:
movies.isnull().sum()

movieId        0
title          0
genres         0
imdb_id        0
overview       0
poster_path    0
runtime        0
dtype: int64

In [41]:
movies.duplicated().sum()

30

In [42]:
movies = movies.drop_duplicates()
movies.duplicated().sum()

0

In [43]:
#for converting str to list
def convert(text):
    L = text.split('|')
    return L

In [44]:
movies['genres'] = movies['genres'].apply(convert)

In [45]:
movies.head()

,movieId,title,genres,imdb_id,overview,poster_path,runtime
0,862,Toy Story (1995),"[Animation, Comedy, Family]",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81
1,8844,Jumanji (1995),"[Adventure, Fantasy, Family]",tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104
2,15602,Grumpier Old Men (1995),"[Romance, Comedy]",tt0113228,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101
3,31357,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",tt0114885,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127
4,11862,Father of the Bride Part II (1995),[Comedy],tt0113041,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg,106

In [46]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(4)

,movieId,title,genres,imdb_id,overview,poster_path,runtime
23298,64835,Corpo celeste (2011),[Drama],tt1886502,"[After, growing, up, in, Switzerland,, 13-year...",/mVc2oIwMtl83fDi2BZ9QH0jKIoH.jpg,100
34152,206292,The Desert (2013),"[Science Fiction, Drama]",tt2665470,"[The, failed, story, of, a, love, triangle, in...",/g3O5u6sDCypCiGDUeGrpYk7ZJgh.jpg,98
38120,348315,Clean Hands (2015),"[Crime, Drama, Thriller]",tt3855240,"[Sylvia, has, turned, a, blind, eye, for, too,...",/n7e3UySlfKPkS89ajfJ3td0EdNr.jpg,100
34466,20907,Opium: Diary of a Madwoman (2007),[Drama],tt0803052,"[A, drug-addicted, doctor, who, works, in, an,...",/gmOopHuQiwkWUtRpvch2rTwzndH.jpg,113

In [47]:
# now removing space like that
'Anna Kendrick'
'AnnaKendrick'

def remove_space(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [48]:
movies['genres'] = movies['genres'].apply(remove_space)

In [49]:
movies.head()

,movieId,title,genres,imdb_id,overview,poster_path,runtime
0,862,Toy Story (1995),"[Animation, Comedy, Family]",tt0114709,"[Led, by, Woody,, Andy's, toys, live, happily,...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81
1,8844,Jumanji (1995),"[Adventure, Fantasy, Family]",tt0113497,"[When, siblings, Judy, and, Peter, discover, a...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104
2,15602,Grumpier Old Men (1995),"[Romance, Comedy]",tt0113228,"[A, family, wedding, reignites, the, ancient, ...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101
3,31357,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",tt0114885,"[Cheated, on,, mistreated, and, stepped, on,, ...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127
4,11862,Father of the Bride Part II (1995),[Comedy],tt0113041,"[Just, when, George, Banks, has, recovered, fr...",/e64sOI48hQXyru7naBFyssKFxVd.jpg,106

In [50]:
movies = movies[['movieId','title','genres','overview','runtime']]
movies.head()

,movieId,title,genres,overview,runtime
0,862,Toy Story (1995),"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",81
1,8844,Jumanji (1995),"[Adventure, Fantasy, Family]","[When, siblings, Judy, and, Peter, discover, a...",104
2,15602,Grumpier Old Men (1995),"[Romance, Comedy]","[A, family, wedding, reignites, the, ancient, ...",101
3,31357,Waiting to Exhale (1995),"[Comedy, Drama, Romance]","[Cheated, on,, mistreated, and, stepped, on,, ...",127
4,11862,Father of the Bride Part II (1995),[Comedy],"[Just, when, George, Banks, has, recovered, fr...",106

In [51]:
movies['tags'] = movies['overview'] + movies['genres']
movies.head()
movies.iloc[0]['tags']

['Led',
 'by',
 'Woody,',
 "Andy's",
 'toys',
 'live',
 'happily',
 'in',
 'his',
 'room',
 'until',
 "Andy's",
 'birthday',
 'brings',
 'Buzz',
 'Lightyear',
 'onto',
 'the',
 'scene.',
 'Afraid',
 'of',
 'losing',
 'his',
 'place',
 'in',
 "Andy's",
 'heart,',
 'Woody',
 'plots',
 'against',
 'Buzz.',
 'But',
 'when',
 'circumstances',
 'separate',
 'Buzz',
 'and',
 'Woody',
 'from',
 'their',
 'owner,',
 'the',
 'duo',
 'eventually',
 'learns',
 'to',
 'put',
 'aside',
 'their',
 'differences.',
 'Animation',
 'Comedy',
 'Family']

In [52]:
new_df = movies[['movieId','title','tags']]
new_df.head()

,movieId,title,tags
0,862,Toy Story (1995),"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji (1995),"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men (1995),"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale (1995),"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II (1995),"[Just, when, George, Banks, has, recovered, fr..."

In [53]:
# Converting list to str
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\skand\AppData\Local\Temp\ipykernel_32240\3674298559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,movieId,title,tags
0,862,Toy Story (1995),"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji (1995),When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men (1995),A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale (1995),"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II (1995),Just when George Banks has recovered from his ...

In [54]:
# Converting to lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\skand\AppData\Local\Temp\ipykernel_32240\1783511216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

,movieId,title,tags
0,862,Toy Story (1995),"led by woody, andy's toys live happily in his ..."
1,8844,Jumanji (1995),when siblings judy and peter discover an encha...
2,15602,Grumpier Old Men (1995),a family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale (1995),"cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II (1995),just when george banks has recovered from his ...

In [55]:
import nltk
from nltk.stem import PorterStemmer

In [56]:
ps = PorterStemmer()

In [57]:
def stems(text):
    T = []

    for i in text.split():
        T.append(ps.stem(i))

    return " ".join(T)

In [58]:
new_df['tags'] = new_df['tags'].apply(stems)
new_df.iloc[0]['tags']

C:\Users\skand\AppData\Local\Temp\ipykernel_32240\1430047571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

"led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. anim comedi famili"

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

ImportError: The `scipy` install you are using seems to be broken, (extension modules cannot be imported), please try reinstalling.

In [25]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [26]:
vector.shape

(42102, 5000)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)
similarity.shape

In [ ]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Spider-Man 2')

In [ ]:
import pickle
pickle.dump(new_df,open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity,open('artifacts/similarity.pkl','wb'))